<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.703619977734-imiag6a8ch2rtbu2kngqjpgmjrrmu5g</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.703619977734-imiag6a8ch2rtbu2kngqjpgmjrrmu5g3</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
